/* General styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* App content container */
.app-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main content area */
.main-content {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding-top: 100px; /* Ajusta para evitar que el contenido quede detrás de la barra */
}

.page-container {
  padding-top: 100px; /* Este padding corresponde a la altura de la barra de navegación */
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 80px;
}

/* Responsive styling */
@media (max-width: 768px) {
  .main-content {
    padding-top: 100px; /* Ajusta dinámicamente para resoluciones pequeñas */
  }

  .page-container {
    padding-top: 120px; /* Ajusta el espacio según la altura de la barra */
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
  }
}

.main-content h2 {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #333;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
}

/* Footer styling */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

/* General button styles */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s ease;
}

button:hover {
  border-color: #646cff;
  background-color: #0056b3;
}

/* Additional styles for forms */
form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form input, form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* Product listing styles */
.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Item Detail Styles */
.item-detail {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
}

.item-detail img {
  max-width: 100%;
  border-radius: 5px;
}

.item-detail div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Notification Styles */
.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 1rem;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s ease-out;
  z-index: 1000;
}

.notification.hidden {
  display: none;
}

.notification .icon {
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* Animations */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animations for blinking critical timer */
.timer.warning {
  color: #d9534f;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}




