/* Estilos generales */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #b9bcc0;
  color: #333;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #333, #555);
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.logo img {
  width: 200px; /* Puedes ajustar este valor según prefieras */
  height: auto;  /* Mantén la proporción */
}

@media (min-width: 768px) {
  .logo img {
    width: 250px; /* Ajusta el tamaño en pantallas más grandes */
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 150px; /* Reduce el tamaño en pantallas móviles */
  }
}

/* Enlaces de navegación */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0 20px;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #00ccff;
}

.nav-link {
  background: none;
  color: white;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #ffcc00;
}

@media (max-width: 480px) {
  .nav-link {
    padding: 8px 10px;
    font-size: 14px;
  }
}

/* Carrito de compras */
.cart-widget {
  font-size: 24px;
  color: #ffcc00;
  margin-right: 30px; /* Aumentar el margen para darle más espacio */
  cursor: pointer;
  transition: transform 0.3s ease, margin-right 0.3s ease; /* Animación suave */
}

.cart-widget:hover {
  transform: scale(1.1); /* Agranda ligeramente el ícono al pasar el cursor */
}

@media (max-width: 768px) {
  .cart-widget {
    font-size: 22px; /* Tamaño más pequeño para tabletas */
    margin-right: 15px; /* Menor margen en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .cart-widget {
    font-size: 20px;
    margin-right: 10px; /* Menor margen en teléfonos */
  }
}

/* Contenedor de la lista de productos */
.item-list-container {
  margin-top: 140px;
  padding: 50px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.item-list-container h2 {
  font-size: 2.5rem;
  color: #333;
}

/* Botones generales */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
