.hamburger-menu {
  display: none;
}

.hamburger-icon {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-text {
  margin-left: 10px;
}

.hamburger-menu .nav-links {
  display: flex;
  justify-content: flex-end;
}

.hamburger-menu .nav-links.open {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hamburger-menu .nav-link {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.hamburger-menu .nav-link:hover {
  transform: scale(1.1);
}

.cart-link {
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.cart-link:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger-icon {
    font-size: 1.5rem;
  }
}

