.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.logo img {
  height: 80px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #ffcc00;
  color: #333; /* Letras en amarillo cuando se hace hover */
}

.cart-link {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-link:hover {
  background-color: #ffcc00;
  color: #333; /* Letras en amarillo cuando se hace hover */
}
